
CREATE TABLE IF NOT EXISTS mtc_formulas (
    id SERIAL PRIMARY KEY,
    machine_name VARCHAR(50) NOT NULL,
    tool_category VARCHAR(100),
    param_key VARCHAR(50) NOT NULL,
    formula TEXT NOT NULL,
    description TEXT,
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW(),
    UNIQUE(machine_name, tool_category, param_key)
);
